<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/54abdc521e.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    <script
      src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"
    ></script>
    <script src="./flickity.js"></script>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
<<<<<<< HEAD
    {{! <link rel="stylesheet" href="../css/styles.css" /> }}

    <title>Homepage</title>
=======
    <link rel="stylesheet" href="../css/animations.css" />
    <script src="../script/modal.js" defer></script>

       <script>
      $(document).ready(function(){ $('.tooltipped').tooltip();
      $('.dropdown-trigger').dropdown(); $('select').formSelect();
      $('.sidenav1').sidenav(); $('.sidenav').sidenav();
      $('.materialboxed').materialbox(); $('.modal').modal();
      $('.parallax').parallax(); $('.tabs').tabs();
      $('.datepicker').datepicker({ disableWeekends: true }) });
    </script>
    <title>{{title}}</title>
>>>>>>> 5b3e473 (add chat)
  </head>
  <body>
    {{{body}}}
  </body>
</html>