<div class="app-container flex flex-col homepage-container">
  {{>nav}}
  
  <main class="app__main flex w-full">
    <div class="medicals__sidenav max-w-[70px] mt-[100px]">
      <ul class="medicals__sidenav__list flex flex-col justify-center">
        <li class="medicals__sidenav__item medicals__sidenav__item">
          {{#if userLogin}}
          <a href="" id="schedule-user" class="medicals__sidenav__link"><i
              class="fa-solid fa-calendar-days medicals__sidenav__icon"
            title="Lịch cá nhân"></i></a>

            {{else}}
            <a href="" id="schedule-doctor" class="medicals__sidenav__link"><i
              class="fa-solid fa-calendar-days medicals__sidenav__icon"
            title="Lịch cá nhân"></i></a>
            {{/if}}
        </li>
        <li class="medicals__sidenav__item medicals__sidenav__item">
          <a href="/" class="medicals__sidenav__link"><i
              class="medicals__sidenav__icon  fa-solid fa-user-doctor"
            title="Danh sách bác sĩ"></i></a>
        </li>
        <li class="medicals__sidenav__item medicals__sidenav__item">
          <a href="/inbox" class="medicals__sidenav__link"><i
              class="medicals__sidenav__icon fa-brands fa-rocketchat"
            title="Danh sách cuộc họp"></i></a>
        </li>
         <li class="medicals__sidenav__item medicals__sidenav__item">
              {{#if userLogin}}
          <a href="/user" class="medicals__sidenav__link">
          <i
          class="medicals__sidenav__icon medicals__sidenav__icon fa-solid fa-gear"
            ></i></a>
            {{else}}
              {{#if doctorLogin}}
                  <a href="/doctor" class="medicals__sidenav__link">
              <i
              class="medicals__sidenav__icon medicals__sidenav__icon fa-solid fa-gear"
                ></i></a>
                 {{/if}}
               {{/if}}
        </li>
        <li class="medicals__sidenav__item ">
          <a href="/aboutUs" class="medicals__sidenav__link"><i
              class="medicals__sidenav__icon fa-solid fa-circle-question medicals__sidenav__icon--active"
            title="Về chúng tôi"></i></a>
        </li>
      </ul>
    </div>
    <div class="app-section overflow-y-scroll">
      
      <div class="app-section__content">

        <div class="about-hero w-full h-[500px] flex justify-end items-center">
        </div>
        <main class="about__main">
          <section class="flex justify-start about-section">
            <div class="w-[50%] about-section__container__left pr-8">
              <h1 class="font-bold text-6xl py-8 ">MedicalS</h1>
              <p>Ngày nay Internet đã trở thành dịch vụ phổ biến và thiết yếu và có ảnh hưởng sâu rộng tới các thói quen, sinh hoạt, giải trí của nhiều người. Cùng với sự phát triển nhanh chóng của Internet thì các hình thức mua và bán hàng hóa cho mọi người ngày càng đa dạng và phát triển hơn. Các ứng dụng Website ngày càng trở nên phổ biến. Chính vì vậy mà sản phẩm Website đặt lịch phòng khám nha khoa ra đời nhằm phục vụ mục đích đặt lịch khám bệnh online một cách dễ dàng, nhanh chóng và tiện lợi</p>
            </div>
            <div class="w-[50%] about-section__container__right pr-8"></div>

          </section>
          <section class=" flex justify-end about-section">
            <div class="w-[50%] about-section__container__left pr-8"></div>
            <div class="w-[50%] about-section__container__right pl-8">
              <h1 class="font-bold text-6xl py-8">Liên hệ</h1>
              <p>Mọi thắc mắc bạn có thể gửi vào email của chúng tôi: medicals@gmail.com</p>
            </div>

          </section>
          <section class="flex justify-start about-section">
            <div class="w-[50%] about-section__container__left pr-8 ">
              <h1 class="font-bold text-6xl py-8 block">Đội ngũ phát triển</h1>
              <div class="flex flex-wrap">

                <div class="about-section__container__dev mr-14 mb-8">
                  <img src="../img/nhan-avt.png" class="w-20 h-20 rounded-full" alt="">
                  <p class="mt-4 font-bold">Nhan Dang</p>
                </div>
                <div class="about-section__container__dev mr-14 mb-8">
                  <img src="../img/nhan-avt.png" class="w-20 h-20 rounded-full" alt="">
                  <p class="mt-4 font-bold">Luc Ha</p>
                </div>
                <div class="about-section__container__dev mr-14 mb-8">
                  <img src="../img/nhan-avt.png" class="w-20 h-20 rounded-full" alt="">
                  <p class="mt-4 font-bold">Phong Dinh</p>
                </div>
                <div class="about-section__container__dev mr-14 mb-8">
                  <img src="../img/nhan-avt.png" class="w-20 h-20 rounded-full" alt="">
                  <p class="mt-4 font-bold">Khanh Nguyen</p>
                </div>
                <div class="about-section__container__dev mr-14 mb-8">
                  <img src="../img/nhan-avt.png" class="w-20 h-20 rounded-full" alt="">
                  <p class="mt-4 font-bold">Thoang Tran</p>
                </div>
              </div>
            </div>
            
            <div class="w-[50%] about-section__container__right pr-8"></div>

          </section>
          <section class=" flex justify-end about-section">
            <div class="w-[50%] about-section__container__left pr-8"></div>
            <div class="w-[50%] about-section__container__right pl-8">
              <h1 class="font-bold text-6xl py-8">Điều khoản và Dịch vụ</h1>
               <p class='text-base leading-relaxed text-gray-800'>Các thông tin thông tin cá nhân của
                các thành viên, có thể được chúng tôi sử dụng vào những mục đích hợp pháp dưới đây:</p>
              <ol class='relative border-l border-gray-200'>

                <li class='mb-10 ml-4'>
                  <div
                    class='absolute w-3 h-3 bg-gray-500 rounded-full mt-1.5 -left-1.5 border border-white'
                  ></div>
                  <p class='text-base font-normal text-gray-800'>Cung cấp thông tin về dịch vụ bằng
                    email, + Dùng để phân tích xu hướng tiêu dùng của khách hàng, với mục đích xây
                    dựng những dịch vụ mới, hoặc cải thiện những dịch vụ cũ.</p>
                </li>
                <li class='mb-10 ml-4'>
                  <div
                    class='absolute w-3 h-3 bg-gray-500 rounded-full mt-1.5 -left-1.5 border border-white'
                  ></div>
                  <p class='text-base font-normal text-gray-800'>Dùng để phân tích xu hướng tiêu
                    dùng của khách hàng, với mục đích xây dựng những dịch vụ mới, hoặc cải thiện
                    những dịch vụ cũ.</p>
                </li>
                <li class='mb-10 ml-4'>
                  <div
                    class='absolute w-3 h-3 bg-gray-500 rounded-full mt-1.5 -left-1.5 border border-white'
                  ></div>
                  <p class='text-base font-normal text-gray-800'>Dùng để liên lạc với thành viên khi
                    chúng tôi điều tra thông tin khách hàng, tổ chức khuyến mại, trao đổi ý kiến
                    thông tin trên bảng đánh giá, bình luận.</p>
                </li>
                <li class='mb-10 ml-4'>
                  <div
                    class='absolute w-3 h-3 bg-gray-500 rounded-full mt-1.5 -left-1.5 border border-white'
                  ></div>
                  <p class='text-base font-normal text-gray-800'>Dùng để trả lời các thắc mắc của
                    khách hàng: chúng tôi sẽ trả lời thành viên bằng email, điện thoại, hoặc gửi thư
                    tới địa chỉ của thành viên, khi thành viên thắc mắc</p>
                </li>
              </ol>
            </div>

          </section>
          
        </main>
      </div>
    </div>
  </main>
</div>
<script src = "../script/handleLinkSchedule.js"></script>