<div class="app-container flex flex-col homepage-container">
  <div class="medicals__navbar flex justify-between items-center py-3">
    <div class="medicals__navbar__left flex flex-start items-center flex-1">
      <div class="medicals__navbar__brand flex flex-start items-center">
        <img
          src="../assets/images/healthcare.png"
          alt="logo"
          class="medicals__navbar__logo w-[30px] h-[30px]"
        />
        <a class="text-xl fw-bold ml-4">MedicalS</a>
      </div>
      <div
        class="app-container__input medicals__navbar__search md:w-[600px] mx-5"
      >
        <input
          type="search"
          name="search"
          id="search"
          placeholder="Enter email, meeting..."
          class="w-full hidden md:block"
        />
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass app-container__icon"></i>
        </button>
      </div>
    </div>
    <div class="medicals__navbar__right flex-2 flex items-center flex-end">
      <a href="#" class="medicals__navbar__link">
        <i class="app-container__icon fa-solid fa-bell mr-4"></i>
      </a>
      <div class="medicals__navbar__profile">Login</div>
    </div>
  </div>
  <main class="app__main flex w-full">
    <div class="medicals__sidenav max-w-[70px] mt-[100px]">
      <ul class="medicals__sidenav__list flex flex-col justify-center">
        <li class="medicals__sidenav__item medicals__sidenav__item">
          <a href="#" class="medicals__sidenav__link"><i
              class="fa-solid fa-calendar-days medicals__sidenav__icon medicals__sidenav__icon--active"
            ></i></a>
        </li>
        <li class="medicals__sidenav__item medicals__sidenav__item">
          <a href="#" class="medicals__sidenav__link"><i
              class="medicals__sidenav__icon fa-solid fa-user-doctor"
            ></i></a>
        </li>
        <li class="medicals__sidenav__item medicals__sidenav__item">
          <a href="#" class="medicals__sidenav__link"><i
              class="medicals__sidenav__icon fa-brands fa-rocketchat"
            ></i></a>
        </li>
        <li class="medicals__sidenav__item medicals__sidenav__item">
          <a href="#" class="medicals__sidenav__link"><i
              class="medicals__sidenav__icon fa-solid fa-gear"
            ></i></a>
        </li>
      </ul>
    </div>
    <div class="app-section">
      <h2 class="app-section__header">Appointments</h2>
      <div class="app-section__content">
        <div
          class="app-section__status flex md:flex-row flex-col flex-start w-full my-3"
        >
          <div class="status__item mr-5">
            <h3 class="status__number fw-bold text-2xl">1</h3>
            <p class="status__type">Happening</p>
          </div>
          <div class="status__item mr-5">
            <h3 class="status__number fw-bold text-2xl">1</h3>
            <p class="status__type">Upcoming</p>
          </div>
          <div class="status__item mr-5">
            <h3 class="status__number fw-bold text-2xl">24</h3>
            <p class="status__type">Accepted</p>
          </div>
          <div class="status__item mr-5">
            <h3 class="status__number fw-bold text-2xl">24</h3>
            <p class="status__type">Canceled</p>
          </div>
          <div class="status__item mr-5">
            <h3 class="status__number fw-bold text-2xl">150</h3>
            <p class="status__type">Total Appoinments</p>
          </div>
        </div>
        <div class="appointments">
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
          <div class="medicals__card">
            <p class="medicals__card__date">December 10, 2020</p>
            <h3 class="medicals__card__title">Web Designing</h3>
            <h4 class="medicals__card__subtitle">Prototyping</h4>
            <div class="medicals__card__content">
              <p class="apointment__status">Happening</p>
            </div>
            <p class="medicals__card__date--countdown">0 Days Left</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>