
<script src="socket.io/socket.io.js"></script>
<script src = "./script/inbox.js"></script>
<style>
   .message-sender{
      text-align: right;
   }
   .message-receiver{
     text-align: left;
   }
</style>
<div class="container"> 

   <h1> Register</h1>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <h1>your account : {{account}}</h1>
        <div>
          <h1> Inbox for Other User : </h1>
          <ul>
            {{#each users}} 
              <li class="user-chat btn">
                {{this.name}}
              </li>
            {{/each}}
              
          </ul>
          
        </div>
      </div>
    </div>
  </div>

  <div class="inbox-container"> 
      {{!-- chatting container --}}
      <div class="row chatting-container">
        <div class="row">
    
            <h1 class="receiver-name">Receiver Name:  </h1>
        
            <div class="input-field col s6">
            <input placeholder="Placeholder" id="message-inbox" type="text" class="validate">
            <label >Message</label>
            <button class="btn" id="send-message">send message</button>
        </div>
      </div>
      </div>
      {{!-- display conversation --}}
      <div class="row">
        <div class="col s6">
          <h1>Conversation</h1>
          <div class="display-conversation-container">
            <ul class="collection with-header">
                <li class="collection-item message-sender">:Alvin</li>
                <li class="collection-item message-receiver">rece:</li>
              </ul>
          </div>
        </div>
      </div>
  </div>

</div>